.containerAntal {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.cart-btn {
  width: fit-content;
  height: fit-content;
  padding: 0.5em 3rem;
  background-color: rgb(233, 231, 107);
  border-radius: 15px;
}
