
// Ingredienser
$primary-legend-color: #e9e76b;

$primary-text-color: white;

$select-btn-background: rgb(233, 231, 107);
$select-btn-color: black;
$select-hover-background:  rgb(201, 199, 91);
$select-hover-color: white;

// PriceDiv 
$pizza-name-color: #74993a;
$pizza-price-color: #438ba8;
$pizza-list-color: black;