@import "../scss/colors";
@import "../scss/fonts";
@import "../scss/mixins";


.priceFieldset {
    @include fit-content;
    padding: 7px 40px 7px 40px;
    margin-top: 10em;
    margin: 0.5em;
    border: 2px solid #ffffff;
    @include font-style;
    font-family: "Caveat Brush";
    border-radius: 15px;
    color: rgb(0, 0, 0);
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.75em;
    color: white;

    .price-legend {
      font-family: "Caveat Brush";
      @include font-style;
      color: $primary-legend-color;
      transform: translatey(-50%);
      width: max-content;
      padding: 0 0.30em;
    }
    input {
      transform: scale(2);
    }
    label {
      margin-left: 1em;
    }  
    
  }

.antal{
    display: flex;
    gap: 1em;
    button{
        width: 2.5rem;
        height: 2.5rem;
        padding: 2px 2px;
        font-size: 24px;
    }
}
.trash{
  @include fit-content;
  border-radius: 5px;
  @include flex-center-row;
  padding: 4px;
  background-color: #e96b6b;
}