/* .checkboxContainer {
    border: 2px solid black;
    width: 40rem;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
    flex-wrap: wrap;
    font-size: 1.2em;
}


.checkboxContainer input[type="checkbox"] {
  margin-left: 1.5rem;
} */