@import "../scss/colors";
@import "../scss/fonts";
@import "../scss/mixins";

.ingredienserDiv{
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}
.pizzaFieldset {
  @include fit-content;
  border: 3px solid #ffffff;
  border-radius: 15px;
  @include flex-center-column;
  font-family: $primary-font;
  
  .main-legend {
    font-size: 2em;
    font-weight: bolder;
    font-style: italic;
    color: $primary-legend-color;
    transform: translatey(-50%);
    @include width-padding;
  }
  .defult-legend {
    @include font-style;
    color: $primary-legend-color;
    transform: translatey(-50%);
    @include width-padding;
  }
  input {
    transform: scale(2);
    margin-left: 1.5em;
  }
}

.flex-container {
  @include flex-center-row;
  justify-content: space-evenly;
}

.ingredientsFieldset {
  @include fit-content;
  padding: 7px 15px 7px 15px;
  margin: 0.5em;
  @include border-style;
  gap: 1rem;
  .extra-legend {
    @include font-style;
    color: $primary-legend-color;
    transform: translatey(-50%);
    @include width-padding;
  }
 
  label {
    margin-left: 1em;
  }
  ul {
    list-style: none;
  }
}

.defult-ingredienser {
  @include font-style;
  color: $primary-text-color;
  display: flex;
  gap: 0.75em;
}

.gridContainer3 {
  display: grid;
  grid-template-columns: repeat(3, auto);
  margin-top: 2rem;
}
.gridContainer2 {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

input:hover {
  cursor: pointer;
}

.containerBuy {
  @include flex-center-row;

  .select-btn {
    @include flex-center-row;
    @include fit-content;
    padding: 0.2em 3rem;
    border: 3px solid black;
    background-color: $select-btn-background;
    border-radius: 15px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    color: $select-btn-color;
    font-size: 2.8125em;
    font-family: $primary-font;
   font-style: italic;
  }

  .select-btn:hover {
    background-color: $select-hover-background;
    color: $select-hover-color;
  }
}