@import "../scss/colors";
@import "../scss/fonts";

.ingredienserDiv{
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}
.pizzaFieldset {
  width: fit-content;
  height: fit-content;
  border: 3px solid #ffffff;
  border-radius: 15px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: $primary-font;
  
  .main-legend {
    font-size: 2em;
    font-weight: bolder;
    /* font-family: $primary-legend-font; */
    font-style: italic;
    color: $primary-legend-color;
    transform: translatey(-50%);
    width: max-content;
    padding: 0 0.15em;
  }
  .defult-legend {
    font-size: 1.75em;
    /* font-family: "Caveat Brush"; */
    font-style: italic;
    color: $primary-legend-color;
    transform: translatey(-50%);
    width: max-content;
    padding: 0 0.15em;
  }
  input {
    transform: scale(2);
    margin-left: 1.5em;
  }
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.ingredientsFieldset {
  width: fit-content;
  height: fit-content;
  padding: 7px 15px 7px 15px;
  /* margin-top: 10em; */
  margin: 0.5em;
  border: 2px solid #ffffff;
  border-radius: 10px;
  gap: 1rem;
  .extra-legend {
    font-size: 1.75em;
    /* font-family: "Caveat Brush"; */
    font-style: italic;
    color: $primary-legend-color;
    transform: translatey(-50%);
    width: max-content;
    padding: 0 0.30em;
  }
  input {
    /* transform: scale(2); */
  }
  label {
    margin-left: 1em;
  }
  ul {
    list-style: none;
  }
}

.defult-ingredienser {
  font-size: 1.75em;
  /* font-family: "Caveat Brush"; */
  font-style: italic;
  color: $primary-text-color;
  display: flex;
  gap: 0.75em;
}

.gridContainer3 {
  display: grid;
  grid-template-columns: repeat(3, auto);
  margin-top: 2rem;
}
.gridContainer2 {
  display: grid;
  grid-template-columns: repeat(2, auto);
}

input:hover {
  cursor: pointer;
}

.containerBuy {
  display: flex;
  justify-content: center;
  align-items: center;

  .select-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 0.2em 3rem;
    border: 3px solid black;
    background-color: $select-btn-background;
    border-radius: 15px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    color: $select-btn-color;
    font-size: 30px;
    font-size: 45px;
    font-family: $primary-font;
   font-style: italic;
  }

  .select-btn:hover {
    background-color: $select-hover-background;
    color: $select-hover-color;
  }
}