@import "../scss/colors";
@import "../scss/fonts";
@import "../scss/mixins";


.pizza-img-div {
  @include fit-content;
  padding: 1rem;
  border-radius: 15px;
  @include flex-center-column;
  gap: 0.7rem;
  .pizza-namn{
    font-size: 45px;
    font-family: "Caveat Brush";
    font-style: italic;
    color: white;
  }

  .img-arrow {
    @include flex-center-row;

    .pizza-img {
      -webkit-animation: rotate 40s linear 0s infinite;
    }

    @keyframes rotate {
      0% {}

      100% {
        transform: rotate(-360deg);
      }
    }
  }

  .containerBuy {
    @include flex-center-row;
  }
}

